*.lnk
*.log
*.dmp
*.zip
!Bin/_CSOLauncher_backup.zip
Bin/BlackCipher/
Bin/GPUCache/
Bin/DawnCache/
Bin/SAVE/
Bin/steam_settings/
Data/Packer/*.bat
Data/Packer/*.exe
Data/Packer/lstrike/

# dev tools
genupdatelist.ps1
updater.ps1
